---
import Layout from "../../layouts/layout.astro";
import CustomSelect from "../../components/ui/CustomSelect.tsx"
import {depts} from "../../data/setup.ts"

---

<Layout>
  <main
    class="flex flex-col w-[86.5%] h-[98%] bg-white mt-2 rounded-md border justify-center items-center gap-8 tracking-tight"
  >
    <form hx-get="/new/setup" hx-target="body" hx-swap="outerHTML transition:true" hx-push-url="true" class="border rounded-md flex flex-col p-4 gap-4 shadow-md" id="new">
        <label for="email">Email</label>
        <input name="email" type="email" class="border rounded-md p-1 w-80">
        <label for="department">Product Type</label>
	<CustomSelect client:load list={depts} />
	<label for="numOfSKUs"># of SKUs</label>
        <input name="numOfSKUs" type="number" class="border rounded-md p-1">
        <button type="submit" form="new" class="w-80 hover:opacity-80">Submit</button>
    </form>
    
  </main>
</Layout>
