---
import Layout from "../../layouts/layout.astro";
import TableHeaders from "../../components/TableHeaders.tsx"
import {headers} from "../../data/setup.ts"

const email = Astro.url.searchParams.get('email') || '';
const dept = Astro.url.searchParams.get('department') || '';
const numOfSKUs = Astro.url.searchParams.get('numOfSKUs') || '';

---

<Layout>
  <main
    class="flex flex-col w-[86.5%] h-[98%] bg-white mt-2 rounded-md border gap-8 tracking-tight overflow-scroll"
  >
	<TableHeaders list={headers}/>
  </main>
</Layout>
