---
import Layout from "../../layouts/layout.astro";
import TableHeaders from "../../components/TableHeaders.tsx"
import TableInputs from "../../components/TableInputs.tsx"
import {headers, inputs} from "../../data/setup.ts"

const email = Astro.url.searchParams.get('email') || '';
const dept = Astro.url.searchParams.get('department') || '';
const numOfSKUs = Astro.url.searchParams.get('numOfSKUs') || '';

---

<Layout>
  <main
    class="flex w-[86.5%] h-[98%] bg-white mt-2 rounded-md border tracking-tight overflow-scroll"
  >
	<TableHeaders list={headers}/>
	<TableInputs data={inputs} columns={numOfSKUs} />
  </main>
</Layout>
