---
import Nav from "../components/Nav"
import SetupNav from "../components/SetupNav.tsx"
import "../global.css";

const { title } = Astro.props;

const url = Astro.url.pathname;


switch (url) {
	case "/new/setup" : console.log(`reached: ${url}`);
}

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
	<body class="flex bg-neutral-100 h-screen" id="body">
	{url == "/new/setup" ? <SetupNav /> : <Nav />}
    <slot />
  </body>
</html>


